.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.header__link:hover {
  opacity: 0.5;
}
