.khan__buy-link {
    margin-left: 48px;
    font-size: 30px;
    line-height: 42px;

    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
}

.khan__buy-link:hover {
    opacity: 0.5;
}

